<div id="pageheader" class="pure-g pure-menu pure-menu-horizontal">
  <div class="pure-u-1-2">
    <div id="title"><%= title %></div>
    <div id="desc">A quick and easy way to test CSP behavior on modern browsers</div>
  </div>
  <div class="pure-u-1-2">
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
        <li><a href="/webkit-tests" id="webkit-csp-tests" title="WebKit/Chrome CSP tests">WebKit CSP Tests</a></li>
        <li><a href="http://content-security-policy.com/" target="_blank" rel="noreferrer" title="External site">CSP Quick Reference</a></li>
        <li><a href="http://cspisawesome.com/" target="_blank" rel="noreferrer" title="External site">CSP Header Generator</a></li>
        <li><a href="https://github.com/yahoo/csptester/blob/master/README.md" target="_blank">Help</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>

  </div>
</div>


